
extends layout

block content
	#login.center-vertical
		form.card.card-body.bg-light(method='post')
			h2 Gestion Tambo!
			h6 Ingrese con su cuenta
			.form-group
				label Username
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Password
				input.form-control(type='password', id='pass-tf', name='pass')
			#row1
				button(type='button')#btn_remember.btn.btn-light.btn-left
					span.fa.fa-check-square
					| Recordar
				button(type='submit')#btn_sign_in.btn.btn-primary
					span.fa.fa-lock
					| Login
			hr
			.btm-links
				#forgot-password
					a(href='#') Olvido contraseña?
				#create-account
					a(href='/signup') Crear nueva cuenta

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
